	<nav>
		<h1 class="subtitle"> Main Menu </h1>
		<ul>	
			<li class="bullet"> <a class="link" href='/contacts'> Display All Contacts</a> 
			</li>
				
			<li class="bullet"> <a class="link" href ='/contacts/new'> Create New Contact</a>
			</li>
		
		</ul>
	</nav>

