<h1 class="subtitle">Create New Contact</h1>

<form action="/contacts" method="post">
  <input class="taby" type="text" name="first_name">
  <input type="text" name="last_name">
  <input type="text" name="email">
  <input type="text" name="note">
  <input class= "button" type="submit" name="Submit">
</form>







